<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251011184814-arntg3ukpoa80meb2u69g4n7fnl3jr3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251011184814-arntg3ukpoa80meb2u69g4n7fnl3jr3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>251011184814-7bpoau0m7ttk5tsvg6s8ca9uao0hc8fv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBN8NM34ECWRPo4yfp5DNhLiS6B0QsPgl0</string>
	<key>GCM_SENDER_ID</key>
	<string>251011184814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myoutdooragent.app</string>
	<key>PROJECT_ID</key>
	<string>my-outdoor-agent</string>
	<key>STORAGE_BUCKET</key>
	<string>my-outdoor-agent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251011184814:ios:e8662b40778527e652553f</string>
</dict>
</plist>